#searchBar{
    border: 2px solid rgb(245, 192, 94);
    display: flex;
    font-size: 10px;
}
body{
    /* background-color: grey; */
}
/* .popover{
    background-color: white;
    margin-top: 5px;
} */

#zona{
    background-color: white;
    display: flex;
    flex-direction: row;
    width: 55%;
    margin-top: 10%;
    margin-left: 20%;
}